.container
    .row
        .page-header
            h1=title
            small zhongdukehuanmi
.navbar.navbar-default.navbar-fixed-bottom
    .container
        .navbar-header
            a.navbar-brand(href="/") zhongdukehuanmi
        p.navbar-text.navbar-right
            a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") signup
            span &nbsp;|&nbsp;
            a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") signin
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signup")
                .modal-header zhuce
                .modal-body
                    .form-group
                        label(for="signupName") username
                        input#signupName.form-control(name="name",type="text")
                    .form-group
                        label(for="signupPassword") userpwd
                        input#signupPassword.form-control(name="password",type="password")
                .modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") cancel
                    button.btn.btn-success(type="submit") signup
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signin")
                .modal-header zhuce
                .modal-body
                    .form-group
                        label(for="signinName") username
                        input#signinName.form-control(name="name",type="text")
                    .form-group
                        label(for="signinPassword") userpwd
                        input#signinPassword.form-control(name="password",type="password")
                .modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") cancel
                    button.btn.btn-success(type="submit") signin